<div class="wrapper  theme-1-active pimary-color-green">
  <app-header></app-header>
  <app-navs></app-navs>

  <!-- Main Content -->
  <div class="page-wrapper">
    <div class="container-fluid">

      <!-- Title -->
      <div class="row heading-bg">
        <!-- Breadcrumb -->
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <ol class="breadcrumb pull-left">
            <li>
              <a href="javascript:void(0)">Dashboard</a>
            </li>
            <li>
              <a routerLink="/client-profile">
                <span>Client Profile</span>
              </a>
            </li>
            <li>
              <a routerLink="/org-list">
                <span>Organization List</span>
              </a>
            </li>
            <li class="active">
              <span>Organization Create</span>
            </li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
      </div>
      <!-- /Title -->

      <!-- Row -->
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-heading">
              <div class="pull-left">
                <h6 class="panel-title txt-dark">Organisation Create</h6>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <div class="form-wrap">
                  <form class="form-horizontal">
                    <div class="col-md-6">

                      <div class="form-group">

                        <label class="col-md-6 control-label">Org. Name
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">
                          <input type="text" class="form-control" name="org_name" id="org_name" tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Type of Reg. Dealer
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name" tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Pin Code
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name" tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">State
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Email
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Contact Person Name
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Username
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">GSTIN No.
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">GSTIN Registration Date
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Legal Name of the Registered Person
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Aggregate Turnover in the preceding Financial Year
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>
                    </div>


                    <div class="col-md-6">

                      <div class="form-group">

                        <label class="col-md-6 control-label">PAN No.
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Business Type
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Legal Entity Type
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">City
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Address Line
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <textarea class="form-control"></textarea>
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Password
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Phone No.
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Office Type
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Trade Name, If any
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>

                      <div class="form-group">

                        <label class="col-md-6 control-label">Aggregate Turnover from April to June 2017
                          <span data-toggle="tooltip" data-original-title="Required">*</span>
                        </label>

                        <div class="col-md-6">

                          <input type="text" class="form-control" name="org_name" id="org_name"                                  tabindex="1">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <button class="btn btn-success btn-anim pull-right">
                        <i class="icon-rocket"></i>
                        <span class="btn-text">Submit</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->
    </div>
    <!-- /Main Content -->
  </div>
</div>